<div class="container">

<div class="list-group">
    <a href="#!/mesas" class="list-group-item ">
        <h4 class="list-group-item-heading">Gestión de Mesas y espacios</h4>
        <p class="list-group-item-text">Mesas y espacios del establecimiento </p>
    </a>

    <a href="#!/empleados" class="list-group-item ">
        <h4 class="list-group-item-heading">Gestión de empleados</h4>
        <p class="list-group-item-text">Empleados del establecimiento </p>
    </a>
    
    <a href="#!/usuarios" class="list-group-item ">
        <h4 class="list-group-item-heading">Gestión de Usuarios</h4>
        <p class="list-group-item-text">Usuarios </p>
    </a>
    
    <a href="#!/posts" class="list-group-item">
        <h4 class="list-group-item-heading">Opiniones del local</h4>
        <p class="list-group-item-text">Últimas opiniones que se han escrito sobre el establecimiento</p>
    </a>

    <a href="#!/articulos" class="list-group-item">
        <h4 class="list-group-item-heading">Artículos</h4>
        <p class="list-group-item-text">Artículos</p>
    </a>

    <a href="#!/articulosopiniones" class="list-group-item">
        <h4 class="list-group-item-heading">Artículos Opiniones</h4>
        <p class="list-group-item-text">Artículos y opiniones sobre ellos</p>
    </a>

    <a href="#!/articulosimagenes" class="list-group-item">
        <h4 class="list-group-item-heading">Artículos Imágenes</h4>
        <p class="list-group-item-text">Artículos e imágenes de  ellos</p>
    </a>

    <a href="#!/imagenes" class="list-group-item">
        <h4 class="list-group-item-heading">Imágenes</h4>
        <p class="list-group-item-text">Imágenes de  ellos</p>
    </a>

    <a href="#!/ofertas" class="list-group-item">
        <h4 class="list-group-item-heading">Ofertas</h4>
        <p class="list-group-item-text">Ofertas de productos</p>
    </a>
    
    <a href="#!menuMantenimientos" class="list-group-item">
        <h4 class="list-group-item-heading">Mantenimientos</h4>
        <p class="list-group-item-text">Mantenimientos internos</p>
    </a>


    <div class="list-group">
    <a href="#!/" class="list-group-item " ng-click="window.history.back()">
        <h4 class="list-group-item-heading">Volver</h4>
        <p class="list-group-item-text">Volver al menu anterior</p>
    </a>
    </div>

</div>

    
</div>
