<div class="container-fluid" ng-show="!login_ok"> 
    
    <div class="row">
        <div class="col-xs-12">
            <label>Login</label>
            <input type="text" class="form-control" ng-model="login">
        </div>
        <div class="col-xs-12">
            <label>Contraseña</label>
            <input type="password" class="form-control" ng-model="password">
        </div>
        <div>
            _
        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-4">
            <button class="btn btn-primary btn-block" ng-click="cancelar()">Cancelar</button>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-success btn-block" ng-click="validar()">Aceptar</button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
    
</div>

<div class="container" ng-show="login_ok">

    <div class="list-group">
        <a href="#!/mesasTickets" class="list-group-item list-group-item-primary ">
            <h4 class="list-group-item-heading">Mesas y Tickets</h4>
            <p class="list-group-item-text">Gestión de mesas y Tickets</p>
        </a>
        <a href="#!/ticketsLineasCamarero" class="list-group-item list-group-item-success ">
            <h4 class="list-group-item-heading">Pendiente</h4>
            <p class="list-group-item-text">Productos pendientes de preparar o servir</p>
        </a>
    </div>
    <div class="list-group">
        <a href="#!/dispositivopreferencias" class="list-group-item list-group-danger ">
            <h4 class="list-group-item-heading">Dispositivos. Asignar preferencia y mesa</h4>
            <p class="list-group-item-text">Asignar los dispositivos a una mesa o cambiar preferencias.</p>
        </a>
    </div>

     <hr/>

    <div class="list-group">
        <a href="#!/tickets" class="list-group-item list-group-item-warning ">
            <h4 class="list-group-item-heading">Tickets</h4>
            <p class="list-group-item-text">Gestión de todos los tickets</p>
        </a>
        <a href="#!/ticketsLineas" class="list-group-item ">
            <h4 class="list-group-item-heading">Tickets Líneas</h4>
            <p class="list-group-item-text">Gestión de todas las líneas de los tickets</p>
        </a>
    </div>

    <div class="list-group">
        <a href="#!/menuCamarero" class="list-group-item " ng-click="cerrarSesion()">
            <h4 class="list-group-item-heading">Cerrar sesion</h4>
            <p class="list-group-item-text">Cerrar sesión</p>
        </a>
    </div>

</div>