<div class="container">

    <div class="list-group">
        <a href="#!/mesasTickets" class="list-group-item ">
            <h4 class="list-group-item-heading">Mesas y Tickets</h4>
            <p class="list-group-item-text">Gestión de mesas y Tickets</p>
        </a>
    </div>

    <div class="list-group">
        <a href="#!/ticketsLineasCamarero" class="list-group-item ">
            <h4 class="list-group-item-heading">Pendiente</h4>
            <p class="list-group-item-text">Productos pendientes de preparar o servir</p>
        </a>
    </div>

    <div class="list-group">
        <a href="#!/tickets" class="list-group-item ">
            <h4 class="list-group-item-heading">Tickets</h4>
            <p class="list-group-item-text">Gestión de tickets</p>
        </a>
    </div>

    <div class="list-group">
        <a href="#!/ticketsLineas" class="list-group-item ">
            <h4 class="list-group-item-heading">Tickets Líneas</h4>
            <p class="list-group-item-text">Gestión de las líneas de los tickets</p>
        </a>
    </div>

    <div class="list-group">
        <a href="#!/dispositivopreferencias" class="list-group-item ">
            <h4 class="list-group-item-heading">Preferencias de dispositivos</h4>
            <p class="list-group-item-text">Preferencias de dispositivos</p>
        </a>
    </div>

    <div class="list-group">
        <a href="#!/inicio" class="list-group-item " ng-click="window.history.back()">
            <h4 class="list-group-item-heading">Volver</h4>
            <p class="list-group-item-text">Volver al menu anterior</p>
        </a>
    </div>

</div>