<div class="container">
  <h2>Pago en efectivo</h2>

<div class="panel-body">
        <div class="col-xs-4">
            <div class="well">Resumen del ticket</div>
        </div>
        <div class="col-xs-4">
            <div class="well">MESA: {{ espacio }}</div>
        </div>
        <div class="col-xs-4">
            <div class="well">Total: {{ total }}</div>
        </div>
</div>
    
    
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <label>Entrega</label>
                    <input class="form-control" ng-model="entrega">
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <div class="well">
                        Cambio: {{ entrega - total }}
                    </div>
                </div>
            </div><br>
        </div>
    </div> 
      
	  <div class="form-group">
      		<div class="col-sm-offset-2 col-sm-10">
		  		<button type="button" class="btn btn-primary" ng-click="$ctrl.volver()">Cancelar</button>
		  		<button type="button" class="btn btn-primary" ng-click="$ctrl.pagar()">Pagar</button>
            </div>
    	</div>
  </form>

	

</div>
