<div class="container">
  <h2>Seleccionar forma de pago</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Forma de Pago</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#!/pagoEfectivo">Efectivo</a>. Pagar con dinero</td>
      </tr>
      <tr>
        <td><a href="#!/pagoPaypal">PayPal</a>. Pagar con paypal</td>
      </tr>
      <tr>
        <td><a href="#!/pagoTarjeta">Tarjeta</a>. Pagar con tarjeta de crédito</td>
      </tr>
    </tbody>
  </table>
    <button type="button" class="btn btn-block btn-primary" ng-click="$ctrl.volver()">Volver</button>

</div>
