<div class="container">

    <div class="row">
        <h3><i class="glyphicon glyphicon-list-alt"></i> {{ texto }}</h3>
    </div>
    <div class="row"><br/></div>
    <div class="panel panel-primary" ng-show="!showCategoria">
        <div class="panel-heading">
            <h3 class="panel-title"> {{ texto }}</h3>
        </div>
        <table class="table table-hover">
            <td class="col-md-6">
                <button class="btn btn-primary" ng-click="newItem()"><i class="glyphicon glyphicon-plus"></i></button>
            </td>
            <td class="col-md-6">
                <input type="text" ng-model="filtroTexto">
            </td>
        </table>

        <div class="panel-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2">Acciones</th>
                        <th class="col-md-1">Cod.Oferta</th>
                        <th class="col-md-2">Codigo Articulo</th>
                        <th class="col-md-2">Descripción</th>
                        <th class="col-md-2">Inicio</th>
                        <th class="col-md-2">Fin</th>
                        <th class="col-md-1">PVP</th>
                    </tr>
                </thead>

                <tfoot></tfoot>
                <tbody>
                    <tr ng-repeat="item in dat | filter:filtroTexto">
                        <td>
                            <button class="btn btn-primary" ng-click="ver($index)"><i class="glyphicon glyphicon-eye-open"></i></button>
                            <button class="btn btn-primary" ng-click="edit($index)"><i class="glyphicon glyphicon-edit"></i></button>
                            <button class="btn btn-danger" ng-click="delete($index)"><i class="glyphicon glyphicon-remove"></i></button>
                        </td>
                        <td>
                            {{ item.id }}
                        </td>
                        <td>
                            {{ item.codigo_articulo }}
                        </td>
                        <td>
                            <a href=""> {{ item.nombre }} </a>
                        </td>
                        <td>
                            {{ item.fechainicio | date: 'dd/MM/yyyy hh:mm' }}
                        </td>
                        <td>
                            {{ item.fechafin  | date: 'dd/MM/yyyy hh:mm' }}
                        </td>
                        <td>
                            {{ item.pvp }}
                        </td>
                    </tr>
                    <tbody>
            </table>
        </div>
    </div>

    <general></general>
    
    <div class="panel panel-primary" ng-show="showCategoria">
        <div class="panel-heading">
            <h3 class="panel-title">Datos</h3>
            <button class="btn btn-primary" ng-click="volver()"><i class="glyphicon glyphicon-arrow-left"></i></button>
            <button class="btn btn-success" ng-show="insert || update" ng-click="grabar()"><i class="glyphicon glyphicon-ok"></i></button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6"><label>Id</label><input class="form-control" ng-readonly="true" ng-model="datSel.id"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Código Artículo</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.codigo_articulo"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Nombre</label><input class="form-control" ng-readonly="true" ng-model="datSel.nombre"></div>
            </div><br>
            <div class="row">
                <div class="col-md-6"><label>Inicio</label><input type="datetime" class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.fechainicio"></div>
            </div><br>
            <div class="row">
                <div class="col-md-6"><label>Fin</label><input type="datetime" class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.fechafin"></div>
            </div><br>
            <div class="row">
                <div class="col-md-6"><label>PVP</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.pvp"></div>
            </div><br>
        </div>
    </div> 


</div>