<div class="container-fluid">

    <div ng-controller"Entidad2Controller">
        <h1> {{texto}}</h1>
        <h1> {{texto}}</h1>
        <h1> {{texto}}</h1>
        <h1> {{texto}}</h1>
    </div>
    
      <div class="col-md-6">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.verPantallaCatalogo()">Catalogo</button>
      </div>
      <div class="col-md-6">
          <button type="button" class="btn btn-primary" ng-click="$ctrl.verPantallaNuevo()">Nuevo</button>
      </div>

</div>
 
      
