<div class="container-fluid">

    <div class="row" ng-show="!show">

        <div class="row" ng-repeat="item in dat | filter:filtroTexto" ng-click="verArticulos($index)" ng-style="{'background-color':'#81F79F'}">
                
            <div class="col-xs-1">
                <img ng-src= {{item.url}} class="img-rounded img-responsive img-thumbnail" alt="Imagen">
            </div>
                
            <div class="col-xs-11">
                    <h2>{{ item.descripcion }} </h2>
            </div>
            <br>
        </div>
        <button class="btn-primary btn-block" ng-click="volver()"><h3>Volver</h3></button>
    </div>

</div>
