@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css)

@media screen and (max-width: 1280px)
{
    body {
        background-color: aquamarine;
    }
}

@media screen and (max-width: 600px)
{
    body {
        background-color: floralwhite;
    }
}

@media handheld
{
    background-color: blue;
}

@media all
{
    body {
        background-color: aliceblue;
    }
}


.navbar {
    margin-top: 0;
    border-radius: 0;
    color: black;
}

body {
    font-size: 100%;
    padding-top: 60px;
}

td {
  font-size: 100%;
  border: solid 1px gray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.art-pvp {
    background-color: coral;
    font-weight: 700;
    font-size: 200%;
    color: white;
}

header {
    background: url(../img/inicio/fondo.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    padding-top: 50px;
}

.page-header {
    background-color: blue;
}

.footer {
    background-color: red;
}

.btn-xxl {
    padding: 20px 26px;
    font-size: 35px;
    border-radius: 8px;
}


/* Para validación de campos */

.ng-invalid.ng-dirty {
    border-color: red;
}

.ng-valid.ng-dirty {
    border-color: green;
}

#slides_control>div {
    height: 300px;
}

img {
    margin: auto;
    width: 400px;
}

#slides_control {
    position: relative;
    width: 400px;
    left: 50%;
    top: 20px;
    margin-left: -200px;
}



