@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css)

@media screen and (max-width: 1280px)
{
    body {
        background-color: aquamarine;
    }
}

@media screen and (max-width: 600px)
{
    body {
        background-color: floralwhite;
    }
}

@media handheld
{
    background-color: blue;
}

@media all
{
    body {
        background-color: aliceblue;
    }
}

.ancho {
    color: white;
    text-overflow: ellipsis;
}

.navbar {
    margin-top: 0;
    border-radius: 0;
    color: white;
    color: blue;
    background-color: deepskyblue;
}

body {
    font-size: 1,5em;
    padding-top: 60px;

  /* Ubicación de la imagen */
  background-image: url(../img/imagenes/fondo.jpg);

  /* Nos aseguramos que la imagen de fondo este centrada vertical y
    horizontalmente en todo momento */
  background-position: center center;

  /* La imagen de fondo no se repite */
  background-repeat: no-repeat;

  /* La imagen de fondo está fija en el viewport, de modo que no se mueva cuando
     la altura del contenido supere la altura de la imagen. */
  background-attachment: fixed;

  /* La imagen de fondo se reescala cuando se cambia el ancho de ventana
     del navegador */
  background-size: cover;

  /* Fijamos un color de fondo para que se muestre mientras se está
    cargando la imagen de fondo o si hay problemas para cargarla  */
  background-color: #464646;
    
    
}

table{
  table-layout: fixed;
}

td {
  font-size: 100%;
  border: solid 1px gray;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

.art-pvp {
    background-color: coral;
    font-weight: 700;
    font-size: 200%;
    color: white;
}

header {
    background: url(../img/inicio/fondo.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    padding-top: 50px;
}

.page-header {
    background-color: blue;
}

.footer {
    background-color: red;
}

.btn-xxl {
    padding: 20px 26px;
    font-size: 100%;
    border-radius: 1px;
}

/* Imagenes ofertas */
.img-oferta {
    object-fit: fill;
    max-width: 300px;
    max-height: 300px;
    border-bottom-color: blue;
    background-color: lightblue;
    overflow: hidden;
}

.oferta {
    border-bottom-color: blue;
    background-color: lightblue;
}

/* Para validación de campos */

.ng-invalid.ng-dirty {
    border-color: red;
}

.ng-valid.ng-dirty {
    border-color: green;
}

#slides_control>div {
    height: 300px;
}

#slides_control {
    position: relative;
    text-align: center;
    width: 100%;
    float: left;
    left: 20%;
    max-width: 300px;
    height: 300px;
    top: 20px;
}


/* */
.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }

html { 
  color: #eee; 
  font-size: 200%;
  padding: 30px;
  font-family: 'Source Code Pro', Monaco;
  background-color: lightblue;
}

p { font-weight: 200; font-size: 100%; margin-bottom: 10px; margin-top: 0;}

img { height: 200px; background-color: lightblue;}

img[class] { 
  width: 100%;
}

.original-image {
  margin-bottom: 50px;
}

.image {
  float: left;
  width: 100%;
  margin: 0 30px 20px 0;
  
}
