<div class="container">
    
    <a href="#" 
       class="btn btn-info"
       socialshare
       socialshare-provider="facebook"
       socialshare-url="http://www.pensionsegura.es/index.php?section=catalogo&idioma=es"
       socialshare-text="texto"
       socialshare-quote="qqq"
       socialshare-caption="caption"
       socialshare-title="tit"
       socialshare-description="des">
        <i class="fa fa-facebook"></i> Facebook
    </a>


    <a  href="#"
       class="btn btn-info"
       socialshare
       socialshare-provider="twitter"
       socialshare-text="Un sitio estupendo para tomar cualquier cosa"
       socialshare-url="http://www.pensionsegura.es/index.php?section=catalogo&idioma=es"
       socialshare-hashtags="720kb, development, angularjs, opensource" >
      <i class="fa fa-twitter"></i> Twitter
    </a>
    
    
      <a href="#"
         class="btn btn-info"
         socialshare
         socialshare-provider="email"
         socialshare-trigger="click"
         socialshare-subject="Un sitio estupendo para tomar cualquier cosa" 
         socialshare-body="Heladería Alfonso" 
         socialshare-to="amigo@amigo.com" >
        <i class="fa fa-envelope-o"></i>
        Email
      </a>

</div>