<div id="slides_control">
    <div>
      <carousel interval="myInterval">
        <slide ng-repeat="item in dat" active="item.active">
            <div>
                <div class="image">
                    <img ng-src="{{item.url}}" class="object-fit_contain">
                </div>
                <div class="carousel-caption">
                    <h4>{{ item.descripcion }} </h4>
                    <h5>{{$index+1}}</h5>
                </div>
            </div>
        </slide>
      </carousel>
    </div>
  </div>
