<div class="container">
  	<h2>Lista de producto de FamiliaX</h2>

	<div class="row">
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
                            <button type="button" class="btn btn-primary" ng-click="$ctrl.verDetalle()">Ver detalle</button>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>

	<div class="row">
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>

	<div class="row">
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>

	<div class="row">
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>
		<div class="col-xs-3">
    			<div class="thumbnail">
      				<img src="../../img/producto/cocacola.jpg" alt="...">
					<div class="caption">
        				<p>Producto</p>
        				<p class="small lighter">Refrescante sabor para cualquier hora del día</p>
						<div class="well-sm text-center">
							<h3>10,00€</h3>
						</div>
        				<p>
							<a title="Ver" href="../Producto/ProductoFicha.html" class="btn btn-info btn-block" role="button">Ver</a>
        				</p>
						
      				</div>
				</div>
		</div>

			
	</div>
</div>
