<div class="container">
    <div class="row">
        <h1 class="center">Ticket de contado</h1>
        <h1>Nº Ticket:    {{ datSel.codigo }} </h1>
        <br>
        <label>Mesa</label> {{ datSel.cod_espacio }}
        <hr>
        <label>Fecha: </label>                 {{ datSel.fecha_ticket }}
        <br>
        <label>Empleado :</label> {{ datSel.cod_empleado }}
        <br>
        <hr>
        <h2>Total: {{ datSel.total }} </h2>
        <hr>
        Entrega: {{ datSel.entrega }}
        Cambio: {{ datSel.cambio }}
        <hr>
    </div>
</div>
