<div class="container">

    <div class="row">
        <h3><i class="glyphicon glyphicon-list-alt"></i> {{ texto }}</h3>
    </div>
    <div class="row"><br/></div>
    <div class="panel panel-primary" ng-show="!showCategoria">
        <div class="panel-heading">
            <h3 class="panel-title"> {{ texto }}</h3>
        </div>
        <table class="table table-hover">
            <td class="col-md-6">
                <button class="btn btn-primary" ng-click="newItem()"><i class="glyphicon glyphicon-plus"></i></button>
            </td>
            <td class="col-md-6">
                <input type="text" ng-model="filtroTexto">
            </td>
        </table>

        <div class="panel-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2">Acciones</th>
                        <th class="col-md-1">Codigo</th>
                        <th class="col-md-1">Tipo</th>
                        <th class="col-md-1">Orden</th>
                        <th class="col-md-3">Nombre</th>
                        <th class="col-md-1">Stt Inicial</th>
                        <th class="col-md-1">Stt Final</th>
                        <th class="col-md-2">Color</th>
                    </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                    <tr ng-repeat="item in dat | filter:filtroTexto">
                        <td>
                            <button class="btn btn-primary" ng-click="ver($index)"><i class="glyphicon glyphicon-eye-open"></i></button>
                            <button class="btn btn-primary" ng-click="edit($index)"><i class="glyphicon glyphicon-edit"></i></button>
                            <button class="btn btn-danger" ng-click="delete($index)"><i class="glyphicon glyphicon-remove"></i></button>
                        </td>
                        <td>
                            {{ item.codigo }}
                        </td>
                        <td>
                            {{ item.tipo }}
                        </td>
                        <td>
                            {{ item.orden }}
                        </td>
                        <td>
                            {{ item.nombre }}
                        </td>
                        <td>
                            {{ item.estado_inicial }}
                        </td>
                        <td>
                            {{ item.estado_final }}
                        </td>
                        <td>
                            {{ item.color }}
                        </td>
                    </tr>
                    <tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-primary" ng-show="showCategoria">
        <div class="panel-heading">
            <h3 class="panel-title">Datos</h3>
            <button class="btn btn-primary" ng-click="volver()"><i class="glyphicon glyphicon-arrow-left"></i></button>
            <button class="btn btn-success" ng-show="insert || update" ng-click="grabar()"><i class="glyphicon glyphicon-ok"></i></button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6"><label>Código</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.codigo"></div>
            </div><br>
            <div class="row">
                <div class="col-md-6"><label>Tipo</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.tipo"></div>
            </div><br>
            <div class="row">
                <div class="col-md-6"><label>Orden</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.orden"></div>
            </div><br>
            <div class="row">
                <div class="col-md-6"><label>Nombre</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.nombre"></div>
            </div><br>
            <div class="row">
                <div class="col-md-6"><label>Estado Inicial</label>
                    <input type="checkbox" ng-readonly="!(insert || update)" ng-model="datSel.estado_inicial">             
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6"><label>Estado Final</label>
                    <input type="checkbox" ng-readonly="!(insert || update)" ng-model="datSel.estado_final">             
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6"><label>Color</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.color"></div>
            </div><br>

        </div>
    </div> 

</div>
