<div class="container">

	<!-- Veo las opiniones, por fecha, mesa, usuario, ordenadas de más reciente a menos. -->
	
	<h2>Opiniones</h2>

	 <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="col-xs-1">Fecha</th>
        <th class="col-xs-1">Usuario</th>
        <th class="col-xs-1">Mesa</th>
        <th class="col-xs-1">Producto</th>
        <th class="col-xs-8">Comentarios</th>
      </tr>
    </thead>
    <tbody>
      	<tr>
			<td>2/3/2016 10:00</td>
			<td>jorge</td>
			<td>1</td>
			<td>Coca Cola 20cl</td>
			<td>
				<div class="well">
					Este producto es la leche
				</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
			</td>
		</tr>
      	<tr>
			<td>2/3/2016 10:00</td>
			<td>jorge</td>
			<td>1</td>
			<td>Coca Cola 20cl</td>
			<td>
				<div class="well">
					Este producto es la leche
				</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
			</td>
		</tr>
      	<tr>
			<td>2/3/2016 10:00</td>
			<td>jorge</td>
			<td>1</td>
			<td>Coca Cola 20cl</td>
			<td>
				<div class="well">
					Este producto es la leche
				</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
				<div class="col-xs-2">Ubicación: 2/5</div>
			</td>
		</tr>
    </tbody>
  </table>


</div>