<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#!/juegos" class="btn btn-primary btn-block" role="button">
            <h1>
                <span class="glyphicon glyphicon-knight"></span> 
                {{ 'JUGAR' | translate }}
            </h1>
        </a>
        
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#!/postsCliente" class="btn btn-primary btn-block" role="button">
            <h1>
                <span class="glyphicon glyphicon-pencil"></span> 
                {{ 'OPINAR' | translate }}
            </h1>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#!/llamada" class="btn btn-primary btn-block" role="button">
            <h1>
                <span class="glyphicon glyphicon-bell"></span> 
                {{ 'LLAMAR' | translate }}
            </h1>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#!/preferencias" class="btn btn-primary btn-block" role="button">
            <h1>
                <span class="glyphicon glyphicon-cog"></span> 
                {{ 'PREFERENCIAS' | translate }}
            </h1>
        </a>
    </div>
</div>
<div class="row">
.
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#!/familiasVer" class="btn btn-success btn-block" role="button">
            <h1>
                <span class="glyphicon glyphicon-shopping-cart"></span> 
                {{ 'PEDIR' | translate }}
            </h1>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
<!--        <a href="#!/mesaTicket0" class="btn btn-primary btn-block" role="button"> -->
        <a href="#!/mesaTicketCliente/{{mesa}}" class="btn btn-primary btn-block" role="button">
            <h1>
                <span class="glyphicon glyphicon-euro"></span>
                {{ 'MICUENTA' | translate }}
            </h1>
        </a>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="col-xs-12">
            {{ 'MESA / ESPACIO EN BARRA:' | translate }}: {{ mesa }}
        </div>
        <div class="col-xs-12">
            {{ 'IDIOMA:' | translate }}: {{ idioma }}
        </div>
        <div class="col-xs-12">
            {{ 'DISPOSITIVO:' | translate }}: {{ dispositivo }}
        </div>
    </div>
    
</div>

<ofertasver001> </ofertasver001>

<!--
<imagenescarrusel> </imagenescarrusel>

-->