<div class="row">
    <div class="col-xs-3">
        <a href="#!/juegos" class="btn btn-primary btn-block" role="button">
            <span class="glyphicon glyphicon-knight"></span> 
            Jugar
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#!/postsCliente" class="btn btn-primary btn-block" role="button">
            <span class="glyphicon glyphicon-pencil"></span> Opinar
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#!/llamada" class="btn btn-primary btn-block" role="button">
            <span class="glyphicon glyphicon-bell"></span> 
            Llamar
        </a>
    </div>
    <div class="col-xs-3">
        <button type="submit" class="btn btn-primary btn-block" name="B1">
            <span class="glyphicon glyphicon-shopping-cart"></span> 
            Pedir
        </button>
    </div>
</div>
<div class="row">
    ==
</div>
<div class="row">
    <div class="col-xs-6">
        <a href="#!/mesaTicket0" class="btn btn-primary btn-block" role="button">
            <span class="glyphicon glyphicon-euro"></span> Mi cuenta
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#!/preferencias" class="btn btn-primary btn-block" role="button">
            <span class="glyphicon glyphicon-cog"></span> Preferencias
        </a>
    </div>
    <div class="col-xs-3">
        <div class="col-xs-4">
            Disp: {{ dispositivo }}
        </div>
        <div class="col-xs-4">
            Espacio: {{ espacio }}
        </div>
        <div class="col-xs-4">
            Idioma: {{ idioma }}
        </div>
    </div>
</div>

<imagenescarrusel> </imagenescarrusel>

<ofertasver001> </ofertasver001>
