<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#!/juegos" class="btn btn-primary btn-block" role="button">
            <h1>
                <span class="glyphicon glyphicon-knight"></span> 
                Jugar
            </h1>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#!/postsCliente" class="btn btn-primary btn-block" role="button">
            <h1>
                <span class="glyphicon glyphicon-pencil"></span> 
                Opinar
            </h1>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#!/llamada" class="btn btn-primary btn-block" role="button">
            <h1>
                <span class="glyphicon glyphicon-bell"></span> 
                Llamar
            </h1>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#!/preferencias" class="btn btn-primary btn-block" role="button">
            <h1>
                <span class="glyphicon glyphicon-cog"></span> Preferencias
            </h1>
        </a>
    </div>
</div>
<div class="row">
.
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#!/familiasVer" class="btn btn-success btn-block" role="button">
            <h1>
                <span class="glyphicon glyphicon-shopping-cart"></span> 
                Pedir
            </h1>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
<!--        <a href="#!/mesaTicket0" class="btn btn-primary btn-block" role="button"> -->
        <a href="#!/mesaTicketGeneral/{{espacio}}" class="btn btn-primary btn-block" role="button">
            <h1>
                <span class="glyphicon glyphicon-euro"></span> Mi cuenta
            </h1>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="col-xs-6">
            Espacio: {{ espacio }}
        </div>
        <div class="col-xs-6">
            Idioma: {{ idioma }}
        </div>
    </div>
</div>

<imagenescarrusel> </imagenescarrusel>

<ofertasver001> </ofertasver001>
