<div class="container">

    <div class="container">
        <div ui-grid="{ data: dat }" class="myGrid"></div>
    </div>

    <div id="grid1" ui-grid="gridOptions1" class="grid"></div>

    <div class="selectedItems">{{dat}}</div>
<h1>www</h1>wala
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2">Acciones</th>
                        <th class="col-md-1">Codigo</th>
                        <th class="col-md-2">Articulo</th>
                        <th class="col-md-2">Nombre</th>
                        <th class="col-md-1">Descripción</th>
                    </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                    <tr ng-repeat="item in dat | filter:filtroTexto">
                        <td>
                            <button class="btn btn-primary" ng-click="ver($index)"><i class="glyphicon glyphicon-eye-open"></i></button>
                            <button class="btn btn-primary" ng-click="edit($index)"><i class="glyphicon glyphicon-edit"></i></button>
                            <button class="btn btn-danger" ng-click="delete($index)"><i class="glyphicon glyphicon-remove"></i></button>
                        </td>
                        <td>
                            {{ item.codigo }}
                        </td>
                        <td>
                            {{ item.codigo_articulo }}
                        </td>
                        <td>
                            {{ item.nombre }}
                        </td>
                        <td>
                            {{ item.descripcion }}
                        </td>
                    </tr>
                    <tbody>
            </table>

        <h1>hola</h1>
            <art-detail ng-repeat="item in dat" entidad="item" numero="{{$index}}"></art-detail>    
</div>

<!--

    <div class="row">
        <h3><i class="glyphicon glyphicon-list-alt"></i> {{ texto }}</h3>
    </div>
    
    <div class="panel panel-primary" ng-show="!showCategoria">
        <div class="panel-heading">
            <h3 class="panel-title"> {{ texto }}</h3>
        </div>
        <table class="table table-hover">
            <td class="col-md-6">
                <button class="btn btn-primary" ng-click="newItem()"><i class="glyphicon glyphicon-plus"></i></button>
            </td>
            <td class="col-md-6">
                <input type="text" ng-model="filtroTexto">
            </td>
        </table>

                <art-detail ng-repeat="item in $ctrl.articulos" codigo="item" numero="{{$index}}">
                </art-detail>

        <div class="panel-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2">Acciones</th>
                        <th class="col-md-1">Codigo</th>
                        <th class="col-md-2">Articulo</th>
                        <th class="col-md-2">Nombre</th>
                        <th class="col-md-1">Descripción</th>
                    </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                    <tr ng-repeat="item in dat | filter:filtroTexto">
                        <td>
                            <button class="btn btn-primary" ng-click="ver($index)"><i class="glyphicon glyphicon-eye-open"></i></button>
                            <button class="btn btn-primary" ng-click="edit($index)"><i class="glyphicon glyphicon-edit"></i></button>
                            <button class="btn btn-danger" ng-click="delete($index)"><i class="glyphicon glyphicon-remove"></i></button>
                        </td>
                        <td>
                            {{ item.codigo }}
                        </td>
                        <td>
                            {{ item.codigo_articulo }}
                        </td>
                        <td>
                            {{ item.nombre }}
                        </td>
                        <td>
                            {{ item.descripcion }}
                        </td>
                    </tr>
                    <tbody>
            </table>
        </div>
    </div>


</div>


-->
