<div class="container">


    <div class="row">
        <h3><i class="glyphicon glyphicon-list-alt"></i> {{ texto }}</h3>
    </div>
    
<!--
    <imagenescarrusel> </imagenescarrusel>
    <ofertasver001> </ofertasver001>
    <mesas> </mesas>
-->
    
    <div class="row"><br/></div>
    <div class="panel panel-primary" ng-show="!showCategoria">
        <div class="panel-heading">
            <h3 class="panel-title"> {{ texto }}</h3>
        </div>
        <table class="table table-hover">
            <td class="col-md-6">
                <button class="btn btn-primary" ng-click="newItem()"><i class="glyphicon glyphicon-plus"></i></button>
            </td>
            <td class="col-md-6">
                <input type="text" ng-model="filtroTexto">
            </td>
        </table>

        <div class="panel-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2">Acciones</th>
                        <th class="col-md-1">Codigo</th>
                        <th class="col-md-2">Articulo</th>
                        <th class="col-md-2">Nombre</th>
                        <th class="col-md-1">Descripción</th>
                        <th class="col-md-1">PVP</th>
                    </tr>
                </thead>

                <tfoot></tfoot>
                <tbody>
                    <tr ng-repeat="item in dat | filter:filtroTexto">
                        <td>
                            <button class="btn btn-primary" ng-click="ver(item)">   <i class="glyphicon glyphicon-eye-open"></i></button>
                            <button class="btn btn-primary" ng-click="edit(item)">  <i class="glyphicon glyphicon-edit"></i></button>
                            <button class="btn btn-danger"  ng-click="delete(item)"><i class="glyphicon glyphicon-remove"></i></button>
                        </td>
                        <td>
                           {{ $index }} == {{ item.codigo }}
                        </td>
                        <td>
                            {{ item.codigo_articulo }}
                        </td>
                        <td>
                            {{ item.nombre }}
                        </td>
                        <td>
                            {{ item.descripcion }}
                        </td>
                        <td>
                            {{ item.pvp_venta }}
                        </td>
                    </tr>
                    <tbody>
            </table>
        </div>
    </div>
    
    <div class="panel panel-primary" ng-show="showCategoria">
        <div class="panel-heading">
            <h3 class="panel-title">Datos</h3>
            <button class="btn btn-primary" ng-click="volver()"><i class="glyphicon glyphicon-arrow-left"></i></button>
            <button class="btn btn-success" ng-show="insert || update" ng-click="grabar()"><i class="glyphicon glyphicon-ok"></i></button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6"><label>Código</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.codigo"></div>
            </div><br>
            <div class="row">
                <div class="col-md-6"><label>Código Articulo</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.codigo_articulo"></div>
            </div><br>
            <div class="row">
                <div class="col-md-6"><label>Nombre</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.nombre"></div>
            </div><br>
            <div class="row">
                <div class="col-md-6"><label>Descripcion</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.descripcion"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Familia</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.cod_familia"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Stock Actual</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.stock_actual"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Stock Mínimo</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.stock_minimo"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Cantidad a Pedir</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.cantidad_pedir"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>PVP Venta</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.pvp_venta"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Fecha ultima Venta</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.fecha_ultima_venta"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Fecha ultima Compre</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.fecha_ultima_compra"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Fecha ultima Modificación</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.fecha_ultima_modificacion"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Estado</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.estado"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Ubicacion</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.ubicacion"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Observaciones</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.observaciones"></div>
            </div>
        </div>
    </div> 

</div>
