<div class="container">
    <div class="col-xs-12 row">
        <h2>{{ datosArticulo.nombre }}</h2>
    </div>
    
    <div class="col-xs-4">
        <articulo-imagenes></articulo-imagenes>
    </div>

    <div class="col-xs-8">
        <div class="row">
            <h3>
                {{ datosArticulo.descripcion }}
            </h3>
            <hr>

            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="art-pvp text-right">
                        {{ datosArticulo.pvp_venta | currency }}
                    </div>
                </div>
            
                <div class="col-sm-6 col-xs-12">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="count = count-1"><span class="glyphicon glyphicon-minus"></span></button>
                        <button type="button" class="btn btn-default">{{count}}</button>
                        <button type="button" class="btn btn-default" ng-click="count = count+1" ng-init="count=1"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
            
                <div class="col-sm-6 col-xs-12">
                    <button class="btn-block btn-lg btn-primary" ng-click="pedirArticulo()">Pedir</button>
                </div>
            </div>    
            <hr>
            <div class="row">
                {{ texto_stock }}
            </div>
            <div class="row">
                <rrss parametro="producto"></rrss>
            </div>

    
        </div>
        <div class="row">
            <hr>
        </div>
    </div>

    <div class="row col-xs-12">
        <hr>
    </div>

    <articulo-detalle-paneles></articulo-detalle-paneles>

    <div class="container-fluid">
        <div ng-class="panel " ng-show="tab===0 ">
            <h2>Características del producto</h2>
            <h3>Detalles del producto.</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <hr>
            {{ datosArticulo }}
        </div>

        <div ng-class="panel " ng-show="tab===1 ">
            <div class="well ">
                Ingredientes
            </div>

            <div ng-class="well">
                <h3>Información nutricional</h3>
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>Información nutricional</th>
                            <th>Por 100 gr.</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="ingrediente in productos[0].ingredientes">
                        <tr>
                            <td>{{ ingrediente.nombre}}</td>
                            <td>{{ ingrediente.cantidad}}</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <div ng-class="well ">
                <h3>Alérgenos</h3>
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>Alérgenos</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="alergeno in productos[0].alergenos">
                        <tr>
                            <td>{{alergeno.nombre}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div id="relacionados " ng-show="tab===2 " class="panel ">
            <h3>Productos relacionados</h3>
            <p>Los siguientes artículos también te pueden interesar.</p>
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th class="col-xs-2 ">Imagen</th>
                        <th class="col-xs-6 ">Producto</th>
                        <th class="col-xs-4 ">Precio</th>
                    </tr>
                </thead>
                <tbody ng-repeat="relacionado in productos[0].relacionados">
                    <tr>
                        <td><img ng-src={{relacionado.relImg}} class="img-circle"></td>
                        <td>{{relacionado.relNom}}</td>
                        <td>{{relacionado.relPvp}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        
        <!-- PREGUNTAS -->
        <div id="preguntas" ng-show="tab===3 ">
            <h3>Preguntas de los clientes</h3>
            <p>Aquí puedes ver las preguntas que han realizado los clientes, así como la respuesta que le hemos dado.  </p>
            
            <div class="panel panel-default ">  
                <div class="panel-heading ">Pregunta 1</div>
                <div class="panel-body ">Respuesta 1</div>
            </div>
            
            <div class="panel panel-default ">
                <div class="panel-heading ">Pregunta 2</div>
                <div class="panel-body ">Respuesta 2</div>
            </div>

        </div>

        <!-- OPINIONES -->

        <div id="opiniones" ng-show="tab===4 " class="panel ">
            <h3>Opiniones de los clientes que han consumido este producto</h3>
                        
            <articulo-opiniones></articulo-opiniones>

        </div>
    </div>
</div>
