    <section>
        <ul class="nav nav-pills ">
            <li ng-class="{ active: isSelected(0) } "><a href ng-click="selecTab(0) ">Características</a></li>
            <li ng-class="{ active: isSelected(1) } "><a href ng-click="selecTab(1) ">Ingredientes</a></li>
            <li ng-class="{ active: isSelected(2) } "><a href ng-click="selecTab(2) ">Relacionados</a></li>
            <li ng-class="{ active: isSelected(3) } "><a href ng-click="selecTab(3) ">Preguntas</a></li>
            <li ng-class="{ active: isSelected(4) } "><a href ng-click="selecTab(4) ">Opiniones</a></li>
        </ul>
    </section>
