<div class="container-fluid">

    <div class="panel panel-primary" ng-show="!show">
        <div class="panel-heading">
            <h3 class="panel-title"> {{ texto }}</h3>
        </div>

        <div class="panel-body">
            
            <div class="row" ng-repeat="item in dat | filter:filtroTexto" ng-click="verArticulo($index)" ng-style="{'background-color':'#81F79F'}">
                    <div class="col-xs-2">
                        <img ng-src= {{item.url}} class="img-rounded img-responsive" alt="Imagen">
                    </div>
                    <div class="col-xs-6">
                        <h3>
                            {{ item.nombre }}
                        </h3>
                    </div>
                    <div class="col-xs-4 text-right">
                        <h2>
                            <strong>{{ item.pvp_venta }}</strong>
                        </h2>
                    </div>
            </div>
            <button class="btn-primary btn-block" ng-click="volver()"><h3>Volver</h3></button>

        </div>
    </div>

</div>
