<div class="container">

    <div class="row">
        <h3><i class="glyphicon glyphicon-list-alt"></i> {{ texto }}</h3>
    </div>

    <div class="row"><br/></div>
    
    <div class="panel panel-primary" ng-show="!showCategoria">
        <div class="panel-heading">
            <h3 class="panel-title"> {{ texto }}</h3>
        </div>

        <div class="panel-body">
            <div class="col-xs-8">
                <div class="well">Seleccione la razón por la que quiere contactar con el camarero</div>
            </div>
            <div class="col-xs-4">
                <div class="well">MESA: {{ espacio }}</div>
            </div>
            <div class="col-xs-6"></div>

                <button class="btn btn-primary btn-block" ng-click="llamar('pedir')">PEDIR</button>
                <button class="btn btn-info btn-block"    ng-click="llamar('pagar')">PAGAR</button>
                <button class="btn btn-primary btn-block" ng-click="llamar('queja')">QUEJA</button>
                <button class="btn btn-info btn-block"    ng-click="llamar('asistencia')">ASISTENCIA</button>
                <button class="btn btn-primary btn-block" ng-click="llamar('otros')">OTROS</button>
            
        </div>
    </div>

</div>