<div class="container">

    <div class="row">
        <h3><i class="glyphicon glyphicon-list-alt"></i> {{ texto }}</h3>
    </div>
    <div class="row"><br/></div>
    <div class="panel panel-primary" ng-show="!showCategoria">
        <div class="panel-heading">
            <h3 class="panel-title"> {{ texto }}</h3>
        </div>
        <table class="table table-hover">
            <td class="col-md-6">
                <button class="btn btn-primary" ng-click="Salir()"><i class="glyphicon glyphicon-home"></i></button>
                <button class="btn btn-primary" ng-click="newItem()"><i class="glyphicon glyphicon-plus"></i></button>
            </td>
            <td class="col-md-6">
                <input type="text" ng-model="filtroTexto">
            </td>
        </table>

        <div class="panel-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-3">Acciones</th>
                        <th class="col-md-1">Dispositivo</th>
                        <th class="col-md-2">Nombre</th>
                        <th class="col-md-1">Mesa</th>
                        <th class="col-md-2">Nombre</th>
                        <th class="col-md-1">Idioma</th>
                        <th class="col-md-2"></th>
                    </tr>
                </thead>

                <tfoot></tfoot>
                <tbody>
                    <tr ng-repeat="item in dat | filter:filtroTexto">
                        <td>
                            <button class="btn btn-primary" ng-click="ver($index)"><i class="glyphicon glyphicon-eye-open"></i></button>
                            <button class="btn btn-primary" ng-click="edit($index)"><i class="glyphicon glyphicon-edit"></i></button>
                            <button class="btn btn-primary" ng-click="asignar($index)"><i class="glyphicon glyphicon-download-alt"  data-toggle="tooltip" title="Asignar al dispositivo que se está utilizando"></i></button>
                            <button class="btn btn-danger" ng-click="delete($index)"><i class="glyphicon glyphicon-remove"></i></button>
                        </td>

                        <td>
                            {{ item.codigo_dispositivo }}
                        </td>
                        <td>
                            <select ng-disabled="true" 
                                    ng-readonly="!(insert || update)" ng-options="g.codigo_dispositivo as g.nombre for g in dispositivos"
                                ng-model="item.codigo_dispositivo"
                                    class="form-control">
                            </select>
                        </td>
                        <td>
                            {{ item.codigo_mesa }}
                        </td>
                        <td>
                            <select ng-disabled="true"
                                    ng-readonly="!(insert || update)" ng-options="g.codigo as g.nombre for g in mesas"
                                ng-model="item.codigo_mesa"
                                class="form-control">
                                <option value="">- Seleccione -</option>
                    </select>
                        </td>
                        <td>
                            {{ item.idioma_dispositivo }}
                        </td>
                        <td>
                            <select ng-disabled="true"
                                    ng-readonly="!(insert || update)" ng-options="g.id as g.nom for g in idiomas"
                                    ng-model="item.idioma_dispositivo"
                                    class="form-control">
                                <option value="">- Seleccione -</option>
                            </select>
                        </td>
                    </tr>
                    <tbody>
            </table>
        </div>
    </div>

    
    <div class="panel panel-primary" ng-show="showCategoria">
        <div class="panel-heading">
            <h3 class="panel-title">Datos</h3>
            <button class="btn btn-primary" ng-click="volver()"><i class="glyphicon glyphicon-arrow-left"></i></button>
            <button class="btn btn-success" ng-show="insert || update" ng-click="grabar()"><i class="glyphicon glyphicon-ok"></i></button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6"><label>Código Dispositivo</label>
                    <select ng-readonly="!(insert || update)" ng-options="g.codigo_dispositivo as g.nombre for g in dispositivos"
                            ng-model="datSel.codigo_dispositivo"
                            class="form-control">
                        <option value="">- Seleccione -</option>
                    </select>
                    <input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.codigo_dispositivo">
                </div>
            </div><br>
                    <!-- ESTO ES LO QUE QUIERO http://plnkr.co/edit/fbfmpPht7ENkWrlfT8c4?p=preview  -->

            <div class="row">
                <div class="col-md-6">
                    <label>Código Mesa</label>
                    <select ng-readonly="!(insert || update)" ng-options="g.codigo as g.nombre for g in mesas"
                            ng-model="datSel.codigo_mesa"
                            class="form-control">
                        <option value="">- Seleccione -</option>
                    </select>
                    <input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.codigo_mesa">
                </div>
            </div><br>

            <div class="row">
                <div class="col-xs-3">
                    <label for="sel1">Idioma:</label>
                    <select ng-readonly="!(insert || update)" ng-options="g.id as g.nom for g in idiomas"
                            ng-model="datSel.idioma_dispositivo"
                            class="form-control">
                        <option value="">- Seleccione -</option>
                    </select>
                    <input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.idioma_dispositivo">
                </div>
            </div><br>

        </div>
    </div> 
</div>
