<div class="container">

    <div class="panel panel-primary" ng-show="showPreferencias">
        <div class="panel-heading">
            <h1 class="panel-title">Bienvenido</h1>
        </div>  
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-12">
                    <label>Número que aparece en la mesa o en el espacio en el que se encuentra</label>
                    <input class="form-control" ng-model="datSel.codigo_espacio" data-toggle="tooltip" title="Código que aparece en su espacio">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-12">
                    <label>Contraseña de acceso</label>
                    <input class="form-control" ng-model="datSel.password" data-toggle="tooltip" title="Contraseña asociada a este espacio">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-3">
                    <label for="sel1">Idioma:</label>
                    <input class="form-control" ng-model="datSel.idioma_dispositivo">
                </div>
            </div><br>

            <div class="col-xs-6">
                <button class="btn btn-primary btn-block" ng-click="volver()">Cancelar</button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-success btn-block" ng-click="grabar()">Aceptar</button>
            </div>
        </div>
        
    </div> 
</div>
