<div class="container">

    <div class="panel panel-primary" ng-show="showPreferencias">
        <div class="panel-heading">
            <h3 class="panel-title">Datos</h3>
            <button class="btn btn-primary" ng-click="volver()"><i class="glyphicon glyphicon-arrow-left"></i></button>
            <button class="btn btn-success" ng-show="insert || update" ng-click="grabar()"><i class="glyphicon glyphicon-ok"></i></button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6"><label>Código Dispositivo</label>
                    <input class="form-control" ng-readonly="true" ng-model="datSel.codigo_dispositivo">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>Nombre Dispositivo</label>
                    <input class="form-control" ng-readonly="true" ng-model="datSel.nombre_dispositivo">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>Código Espacio</label>
                    <input class="form-control" ng-readonly="true" ng-model="datSel.codigo_espacio" data-toggle="tooltip" title="Código que aparece en su espacio">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-12">
                    <label for="gen">Idioma:</label><br>
            <div class="row">
                <div class="col-xs-4">
                    <input name="gen" type="radio" ng-model="datSel.idioma_dispositivo" value="es" /><img src="../../../img/lang/es.png" alt="Description"/ width="100px">Español
                    </div>
                <div class="col-xs-4">
                    <input name="gen" type="radio" ng-model="datSel.idioma_dispositivo" value="en" /><img src="../../../img/lang/uk.png" width="100px"> Inglés
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div> 
</div>
