<div class="container" ng-show="!showEstado">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Mesas y Tickets</h1>
        </div>  
        
        <div class="panel-body">

            <table class="table table-hover">
                <td class="col-md-6">
                    <button class="btn btn-primary" ng-click="Salir()"><i class="glyphicon glyphicon-home"></i></button>
                </td>
                <td class="col-md-6">
                    <input type="text" ng-model="filtroTexto">
                </td>
            </table>
            
    
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-4">Acciones</th>
                        <th class="col-md-1">Código </th>
                        <th class="col-md-4">Nombre</th>
                        <th class="col-md-1">Clave</th>
                        <th class="col-md-1">Estado</th>
                        <th class="col-md-1">Llamada</th>
                    </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                    <tr ng-repeat="item in dat | filter:filtroTexto" ng-click="seleccionaMesa(item);">
                        <td>
                            <button class="btn btn-primary" ng-click="nuevaClave(item)" data-toggle="tooltip" title="Generar Nueva Clave"><i class="glyphicon glyphicon-flash"></i></button>
                            <button class="btn btn-primary" ng-click="cambiarEstado(item)" data-toggle="tooltip" title="Cambiar estado"><i class="glyphicon glyphicon-tag"></i></button>
                            <button class="btn btn-primary" ng-click="anotarAtendida(item)" data-toggle="tooltip" title="Indicar ya atendida"><i class="glyphicon glyphicon-thumbs-up"></i></button>
                            <button class="btn btn-primary" ng-click="anotarPedido(item)" data-toggle="tooltip" title="Mi cuenta"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                        </td>
                        <td>
                            {{ item.codigo }}
                        </td>
                        <td>
                            {{ item.nombre }}
                        </td>
                        <td>
                            <FONT SIZE=+2>{{ item.clave }}<FONT SIZE=-2>
                        </td>
                        <td>
                            {{ item.estado }}
                        </td>
                        <td>
                            {{ item.llamada }}
                        </td>
                    </tr>
                    {{dat.length}} Mesa(s)

                <tbody>
        </table>
        <div class="cssOneOrderTotal">
           <div class="cssOneProductQty">
           </div>
           <div class="cssOneProductSubtotal"> 
           </div>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">Tickets</h1>
        </div>  
    
    <div class="panel-body">


<!-- <div id="divDetailView"> -->
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-xs-4 col-md-1">NºTicket</th>
                        <th class="col-xs-4 col-md-1">Fecha de Alta</th>
                        <th class="col-xs-4 col-md-1">Mesa</th>
                        <th class="col-xs-4 col-md-1">Ult. Modificación</th>
                        <th class="col-xs-4 col-md-1">Estado</th>
                        <th class="col-xs-4 col-md-1">Total</th>
                    </tr>
                </thead>

                <tfoot></tfoot>
                <tbody>
                    <tr ng-repeat="item in datTickets | filter:filtroTexto" ng-click="seleccionaTicket(item);">
                        <td>
                            {{ item.codigo }}
                        </td>
                        <td>
                            {{ item.fecha_ticket  | date:'dd/MM/yyyy hh:mm' }}
                        </td>
                        <td>
                            {{ item.cod_espacio  }}
                        </td>
                        <td>
                            {{ item.fecha_modifica  | date:'dd/MM/yyyy  hh:mm' }}
                        </td>
                        <td>
                            {{ item.estado }}
                        </td>
                        <td>
                            {{ item.total }}
                        </td>
                    </tr>
                    <tbody>
                            {{datTickets.length}} Ticket(s)
            </table>
    </div>

    
        <div class="panel panel-primary" ng-show="showEstado">
            <div class="panel-heading">
                <h3 class="panel-title">Cambiar estado</h3>
                <button class="btn btn-primary" ng-click="volver()"><i class="glyphicon glyphicon-arrow-left"></i></button>
                <button class="btn btn-success" ng-show="insert || update" ng-click="grabar()"><i class="glyphicon glyphicon-ok"></i></button>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6"><label>Codigo</label><input class="form-control" ng-readonly="(insert || update)" ng-model="datSel.codigo"></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><label>Nombre</label><input class="form-control" ng-readonly="(insert || update)" ng-model="datSel.nombre"></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><label>Estado</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.estado"></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><label>Llamada</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.llamada"></div>
                </div>
            </div>
        </div> 

        </div>
</div>

