<div class="container-fluid">
    <h2>Mesas. Visión general</h2>

    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <button type="button" class="btn btn-block btn-primary" ng-click="$ctrl.volver()">Volver</button>
            </div>
        </div>

        <div class="col-xs-10">
            <div class="row">
                <form class="form-horizontal">

                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="col-xs-1">Id</th>
                                <th class="col-xs-1">Mesa</th>
                                <th class="col-xs-1">Importe</th>
                                <th class="col-xs-2">Situación</th>
                                <th class="col-xs-2">Última acción</th>
                                <th class="col-xs-2">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="mesa in mesas | orderBy: 'ultimaAccion': true">

                                <td>{{ $index }}</td>
                                <td class="link"><a href="#!/mesas/$">{{mesa.idMesa}} - {{mesa.nombreMesa}}</a></td>
                                <td>{{mesa.totMesa}}</td>
                                <td>{{mesa.sitMesa}}</td>
                                <td>{{mesa.ultimaAccion}}</td>
                                <td>{{mesa.sttMesa}}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

    </div>