<div class="container">

    <div class="row">
        <h3><i class="glyphicon glyphicon-list-alt"></i> {{ texto }}</h3>
    </div>
    <div class="row"><br/></div>
    <div class="panel panel-primary" ng-show="!showCategoria">
        <div class="panel-heading">
            <h3 class="panel-title"> {{ texto }}</h3>
        </div>
        <table class="table table-hover">
            <td class="col-md-6">
                <button class="btn btn-primary" ng-click="newItem()"><i class="glyphicon glyphicon-plus"></i></button>
            </td>
            <td class="col-md-6">
                <input type="text" ng-model="filtroTexto">
            </td>
        </table>

        <div class="panel-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2">Acciones</th>
                        <th class="col-md-1">Código</th>
                        <th class="col-md-1">Tipo</th>
                        <th class="col-md-4">Nombre del Espacio</th>
                        <th class="col-md-1">Clave</th>
                        <th class="col-md-1">Estado</th>
                        <th class="col-md-1">Llamada</th>
                    </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                    <tr ng-repeat="item in dat | filter:filtroTexto">
                        <td>
                            <button class="btn btn-primary" ng-click="ver($index)"><i class="glyphicon glyphicon-eye-open"></i></button>
                            <button class="btn btn-primary" ng-click="edit($index)"><i class="glyphicon glyphicon-edit"></i></button>
                            <button class="btn btn-danger" ng-click="delete($index)"><i class="glyphicon glyphicon-remove"></i></button>
                        </td>
                        <td>
                            {{ item.codigo }}
                        </td>
                        <td>
                            {{ item.tipo }}
                            <select ng-disabled="true"
                                    ng-model="item.tipo"
                                    ng-options="g.id as g.nomTipo for g in nomTipos">
                            </select>
                        </td>
                        <td>
                            <span><a ng-click="ver($index)">{{ item.nombre }}</a></span>
                        </td>
                        <td>
                            <span>{{ item.clave }}</span>
                        </td>
                        <td>
                            <span>{{ item.estado }}</span>
                        </td>
                        <td>
                            <span>{{ item.llamada }}</span>
                        </td>
                    </tr>
                    <tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-primary" ng-show="showCategoria">
        <div class="panel-heading">
            <h3 class="panel-title">Datos</h3>
            <button class="btn btn-primary" ng-click="volver()"><i class="glyphicon glyphicon-arrow-left"></i></button>
            <button class="btn btn-success" ng-show="insert || update" ng-click="grabar()"><i class="glyphicon glyphicon-ok"></i></button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6"><label>Código</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.codigo"></div>
            </div><br>
            <div class="row">
                <div class="col-md-6"><label>Tipo (B=Barra, S=Salón, T=Terraza)</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.tipo"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Nombre</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.nombre"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Clave</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.clave"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Estado</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.estado"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Llamada</label><input class="form-control" ng-readonly="!(insert || update)" ng-model="datSel.llamada"></div>
            </div>
        </div>
    </div> 



</div>